
<div class="card text-center">
  <div class="card-header">
   ¡ADOPTA!
  </div>
  <div class="card-body">
    <h5 class="card-title">La magia de los Gatos</h5>
    <img src="http://marcialucindasantos.com/prueba/chiqui.jpg"  style="width: 18rem;"  class="card-img-top" alt="...">
    <p class="card-text">Te invito a revisar los gatos en adopción .</p>
    <a routerLink="/listado" class="btn btn-secondary">Listado Gatos</a>
  </div>
  <div class="card-footer text-muted">
 Ayuda a un  minimo a conseguir hogar
  </div>
</div>



